@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@600&family=Rock+Salt&display=swap');

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* article {
    display: flex;
    justify-content: center;
    flex-direction: row;
  
} */


.second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}



h3 {
    font-family: 'Rock Salt', cursive;
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 4px;
    text-transform: uppercase;
}

h4 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    margin: 0;
}

.second p {
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

#nuance {
    width: 20%;
    position: absolute;
    left: 845px;
    top: 459px;
    z-index: -800;
    box-shadow: 0 0 12px hotpink;

}

#management {
    width: 25%;
    position: absolute;
    top: 50px;
    left: 45px;
    z-index: -900;
    box-shadow: 0 0 12px yellow;
}

#computer {
    width: 25%;
    position: absolute;
    top: 100px;
    right: 15px;
    z-index: -1000;
    box-shadow: 0 0 12px black;

}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:768px) {

    #nuance {
        width: 20%;
        left: 50px;
        top: 200px;
        box-shadow: 0 0 12px hotpink;

    }

    #management {
        width: 25%;
        top: 650px;
        left: 45px;
        box-shadow: 0 0 12px yellow;
    }

    #computer {
        width: 25%;
        top: 400px;
        right: 15px;  
        box-shadow: 0 0 12px black;

    }

    h3 {
        font-size: 25px;
        text-align: center;
    }

    h4 {
        text-align: center;
        font-size: 10px;
    }

    
.second p {
    padding-left: 0;
    text-align: center;
    font-size: 13px;
    max-height: 100%;
}

div{
    padding:25px;
}

}


